<div class="container-fluid bg-grey">
    <div class="row">

        <div class="col-sm-5 formulario">
            <h2 class="text-center">Registro Categoria</h2>
            <hr>

            <form #formCategoria="ngForm">
                <div class="form-group">
                    <input ng-repeat="unique:attribute" type="text" class="form-control" id="strNombre" required name="strNombre" [(ngModel)]="categoria.strNombre" #strNombre="ngModel" placeholder="Nombre de catergoria">
                </div>
                <div class="form-group">
                    <textarea id="strDescipcion" name="strDescripcion" class="md-textarea form-control" [(ngModel)]="categoria.strDescripcion" #strDescripcion="ngModel" rows="10" placeholder="Descripción"></textarea>
                </div>
                <button type="reset" class="btn btn-danger col-5 cancelar">Cancelar</button> &nbsp;
                <button type="submit" class="btn btn-success col-5 registrar" *ngIf="categoria._id == undefined" (click)="addCategoria(formCategoria)">Registrar</button>

                <button type="submit" class="btn btn-success col-5 registrar" *ngIf="categoria._id != undefined" (click)="editCategoria(categoria,formCategoria )">Editar</button>
            </form>

        </div>
        <br>
        <div class="col-sm-7 tabla ">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar..." aria-describedby="basic-addon2" [(ngModel)]="search">&nbsp;&nbsp;
                <button class="btn btn-outline-danger " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="downloadExcel()"><i class="far fa-file-excel"></i>&nbsp;Excel</a>
                    <a class="dropdown-item" type="button" value="Descargar PDF" (click)="downloadPdf()"><i class="far fa-file-pdf"></i>&nbsp;PDF</a>
                </div>
            </div>
            <br>
            <div hidden id="content" #content>
                <table class="table table-bordered" id="table">
                    <tr class="table-primary">
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                    <tr *ngFor="let item of lista ">
                        <td>{{item.strNombre}}</td>
                        <td>{{item.strDescripcion}}</td>
                    </tr>
                </table>
            </div>
            <div class="container" #scrollMe style="overflow: scroll; height: xyz;">
                <table class="table">
                    <thead class="thead ">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="body">
                        <tr *ngFor="let item of lista | categoriaFilter:search">
                            <td>{{item.strNombre}}</td>
                            <td>{{item.strDescripcion}}</td>
                            <td>
                                <button class="btn btn-outline-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                              </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" (click)="saveCategoria(item)"><i class="fas fa-edit"></i>&nbsp;Editar</a>
                                    <a class="dropdown-item"><i class="far fa-check-square"></i>&nbsp;Activar/desactivar</a>
                                    <hr>
                                    <a class="dropdown-item" [routerLink]="['/platillos', item._id]"><i class="fas fa-cogs"></i>&nbsp;Gestionar paltillos</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>